/* Estilo del cuerpo con fondo en gradiente y alineación centrada */
body {
    background: linear-gradient(to right, #0000005d, #003ba1a2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo del contenedor */
.container {
    background: #cccccc;
    border-radius: 12px;
    width: 500px;
    height: 80%;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para profundidad */
}

/* Estilo de los encabezados */
h2 {
    font-weight: 600;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Estilo para las etiquetas de formulario */
.container .form-label {
    font-weight: 400;
}

/* Estilo de los botones primarios */
.btn-primary {
    background-color: #00c3ff;
    border: none;
    padding: 12px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilo de los botones secundarios */
.btn-secondary {
    background-color: #5c5c5c;
    border: none;
    padding: 12px;
}

.btn-secondary:hover {
    background-color: rgb(229, 255, 0);
}

/* Contenedor de botones centrados */
.d-flex {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Margen y estilo de íconos en los botones */
.btn-primary, .btn-secondary {
    margin: 0 10px;
    margin-top: 20px;
}

.btn i {
    padding: 10px;
    font-size: 1.5rem;
}

/* Estilo de alertas dentro del contenedor */
.container .alert {
    margin-top: 1rem;
}
/* Estilo de contenedor de mensajes */
.message-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para el mensaje de éxito */
.message-container.success {
    background-color: #28a745; /* Verde para éxito */
}

/* Estilo para el mensaje de error */
.message-container.error {
    background-color: #dc3545; /* Rojo para error */
}

/* Estilo del texto en el contenedor de mensajes */
.message-container p {
    margin: 0;
}

/* Estilo de los enlaces en el contenedor de mensajes */
.message-container a {
    color: #007bff;
    font-weight: bold;
}

.message-container a:hover {
    text-decoration: underline;
}
