body {
    /* font-family: Arial, sans-serif; */
    background: linear-gradient(to right, #0000005d, #003ba1a2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
h2 {
    /* margin-bottom: 1.5rem; */
    font-weight: 600;
    color: #333;
}


.container {
    background: #cccccc;
    border-radius: 12px;
    width: 500px;
    height: 80%;

    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra para profundidad */
}

.container .form-label {
    font-weight: 400;
}

/* .login-container  */
.btn-primary {
    background-color: #00c3ff;
    border: none;
    padding: 12px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.container .alert {
    margin-top: 1rem;
}

.btn-secondary {
    background-color:#5c5c5c ;
    border: none;
    padding: 12px;
}

.btn-secondary:hover {
    background-color: rgb(229, 255, 0);
}

.d-flex {
    margin-top: 1rem; /* Espacio superior para el contenedor de botones */
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Alinea los botones verticalmente si es necesario */

}

.btn-primary, .btn-secondary {
    margin: 0 10px; /* Espacio lateral entre botones */
}
.btn i {
    font-size: 1.5rem; /* Ajusta el tamaño del ícono */
}
/*


.message-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* display: <?php echo isset($message) ? 'block' : 'none'; ?>; Mostrar solo si hay un mensaje 
}
*/

/*
.message-container.success {
    background-color: #28a745;
     Verde para éxito 
    }
    
    .message-container.error {
        background-color: #dc3545;
    }
    
    .message-container p {
        margin: 0;
    }
    
    .message-container a {
        color: #007bff;
        font-weight: bold;
    }
    
    .message-container a:hover {
        text-decoration: underline;
    }
    */