body{
    background: url('/images/background-black.jpg') rgba(65, 131, 51, 0.377); 
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
    .navbar{
        
        background:transparent;
        /* backdrop-filter: blur(10px); */
    
    }
    